venv
# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.ico
*.tiff
*.tif
*.raw
*.heif
*.heic
datasets/data/processed/cropped_ayah_markers/
datasets/data/processed/images/
datasets/data/processed/labels/
datasets/data/processed/labels_hafalan/
datasets/data/processed/images_hafalan/
datasets/data/processed/cropped_ayah_markers_cls/
wandb/